server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;

    root /var/www/html;
    index index.html;

    access_log /var/log/nginx/access.log;
    error_log  /var/log/nginx/error.log;

    # Основной сайт
    location / {
        try_files $uri $uri/ =404;
    }

    # Статус Nginx для Zabbix (stub_status)
    location {{ nginx_stub_status_path }} {
        stub_status;

        access_log off;

        allow 127.0.0.1;
        allow {{ zabbix_server_ip }};
        deny  all;
    }
}
