filebeat.inputs:
  - type: filestream
    enabled: true
    id: nginx-access
    paths:
      - /var/log/nginx/access.log
    fields:
      log_type: nginx_access
    fields_under_root: true

  - type: filestream
    enabled: true
    id: nginx-error
    paths:
      - /var/log/nginx/error.log
    fields:
      log_type: nginx_error
    fields_under_root: true

output.elasticsearch:
  hosts: ["http://{{ elasticsearch_host }}:9200"]
  protocol: "http"

setup.template.enabled: true
setup.template.overwrite: true
setup.ilm.enabled: false
logging.to_files: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  keepfiles: 7
  permissions: 0644
