---
- name: Ensure apt cache is up to date
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Upgrade all packages (optional)
  ansible.builtin.apt:
    upgrade: dist
  when:
    - ansible_os_family == "Debian"
    - common_do_apt_upgrade | default(false)

- name: Install common packages
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present
  when: ansible_os_family == "Debian"

- name: Set timezone
  ansible.builtin.timezone:
    name: "{{ common_timezone }}"

- name: Setup custom MOTD
  ansible.builtin.template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: '0644'
  notify: Restart motd (dummy)
