PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
Server=127.0.0.1,{{ zabbix_server_ip }}
ServerActive=127.0.0.1,{{ zabbix_server_ip }}
Hostname={{ zabbix_agent_hostname }}
Include=/etc/zabbix/zabbix_agentd.d/*.conf
