# /etc/zabbix/zabbix_server.conf (managed by Ansible)

LogFile=/var/log/zabbix/zabbix_server.log
PidFile=/run/zabbix/zabbix_server.pid

DBName={{ zabbix_db_name }}
DBUser={{ zabbix_db_user }}
DBPassword={{ zabbix_db_password }}
DBHost={{ zabbix_db_host }}
DBPort={{ zabbix_db_port }}

SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
Timeout=4
LogSlowQueries=3000
